<!DOCTYPE html>
<html>
<head>
    <title><%= title1 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title1 %></h1>
<p>Welcome1111111111 to <%= title1 %></p>
</body>
</html>
